<h1>All Exhibits</h1>

<% @exhibits.each do |exhibit| %>
    <h3><%= exhibit.name %></h3> 
    <p>Created at: <%= exhibit.created_at %></p>
  <br>
<% end %>
<%= link_to "New Exhibit", "/exhibits/new" %>

